@font-face {
    font-family: myFirstFont;
    src: url(Nimbus-Sans-D-OT-Light_32752.ttf) format("truetype");
  }
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

  :root {
    --buttonFontSizes: 10px;
    --gradient: conic-gradient(from .15turn at 0% 0%, #fce0c0f3, 180deg, #c4ddff, 180deg, #a7bac2);
    --contentHeight: auto; 
}

::-webkit-scrollbar {
    display: none;
}

.background {
    position:fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
}
.background::before{
    position: fixed;
    width: 100vw;
    height: 100%;
    content: "";
    background: var(--gradient);
    filter: blur(100px);
}
.container {
    /* font-family: 'myFirstFont'; */
    font-family: 'Chakra Petch', sans-serif;
    font-size: 40px;
    word-spacing: -5px;
    display: grid;
    grid-template-areas: 
    "a b c d e";
    grid-template-rows: 100vh;
    grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
    width: 100vw;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
}
.container::before {
    position: fixed;
    width: 100%;
    height: 1000%;
    content: "";
    background: url(noise.gif);
    opacity: .05; 
}
.dividers {
    border-right: 1px solid rgb(185, 185, 185);
    height: 250vh;
}

.hero-main{
    grid-area: 1 / b / 1 / d; 
    z-index: 2;
}

.fade-down{
  opacity: 0;
}

.svg-circle{
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    animation: draw 2s linear forwards;
  }
  
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }


