@font-face {
    font-family: myFirstFont;
    src: url(Nimbus-Sans-D-OT-Light_32752.ttf) format("truetype");
  }
@font-face {
    font-family: myFirstFontB;
    src: url(Nimbus-Sans-D-OT-Bold_32747.ttf) format("truetype");
  }
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

  :root {
    --dark: #000000;
    --light: #ffffff;
}

::-webkit-scrollbar {
    display: none;
}

html body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div:not(.bg-gradient) {
  margin: .03rem 0 .03rem;
  
}

.bg-gradient {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
}
.bg-gradient::after {
  position: fixed;
  width: 100%;
  height: 1000%;
  content: "";
  background: url(noise.gif);
  opacity: .03;
}

.bg-gradient > div {
  background-color: var(--dark); 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  z-index: -1; 
}

.greeting{
  box-sizing: border-box;
  position: relative;
  padding: 3rem 5rem 0;
  top:0;
  left: 0;
  height: 100vh;
  display: flex;
  color: var(--light);
  opacity: 1;
}

@media (max-width: 600px) {
  .greeting {
    padding: 3rem 2rem 0;
  }
}
.info {
  flex: 1;
  display: flex;
  flex-direction: column;

}
.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socials > * {
  padding: 0 0 1.5rem;
}

.lightmode > * {
  transform-origin: center;
  user-select:none;
}
.lightmode:active > .inner {
  transform: scale(.9);
  user-select:none;
}
.lightmode:active > .outer {
  transform: scale(.8);
  user-select:none;
}
  
.contacts{
  color: var(--light);
  position: fixed;
  font-family: 'Kanit', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  bottom:0rem; 
  left: 0px; 
  width: 100%;
  padding-top: 1rem; 
  border-top: 1px solid var(--light);
}
.contacts > div {
  grid-column: 1/1;
  position: relative;
  margin: 0rem 1rem 1rem;
  cursor: pointer;
  width: fit-content;
}

.contacts > div > span, .contacts > footer > span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: .5rem;
  height:1px;
  background: var(--light);
  overflow: hidden;
}
.contacts > div:hover > span, .contacts > footer:hover > span {
  width: 100%;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor:pointer;
}
.contacts > footer {
  grid-area: 3/2/3/2;
  position: relative;
  justify-self: end;
  align-self:center;
  margin: 0rem 1rem 1rem;
  width: fit-content;
}
.contacts > footer::selection{
  background: #26b0fa00;
} 

.f-1 {
  font-family: 'myFirstFont';
  /* word-spacing: .2rem; */
  line-height: 1.4rem;
  letter-spacing: .05em;
  font-weight: 100;
  word-spacing: .27em;
  -webkit-user-select: none;     
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.f-1-b {
  font-family: 'myFirstFontB';
  /* word-spacing: .2rem; */
  line-height: 1.4rem;
  letter-spacing: .05em;
  font-weight: 100;
  word-spacing: .27em;
  -webkit-user-select: none;     
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 

.f-2 {
  font-family: 'Bebas Neue', cursive;
  line-height: 1.4rem;
  letter-spacing: .05em;
  font-weight: 100;
  word-spacing: .3em;
  -webkit-user-select: none;     
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.f-3 {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.4rem;
  letter-spacing: .05em;
  font-weight: lighter;
  -webkit-user-select: none;     
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sm {
  font-size: .8rem;
}
.med{
  font-size: 1.2rem;
}
.lg{
  font-size: 2.5rem;
}
.xl{
  font-size: 6rem;
}

/* utils */
.pre {
  white-space: pre;
}

.CAPS {
  text-transform: uppercase;
}

.lower-case {
  text-transform: none;
}

.test {
  color: #ffb881;
}