@font-face {
    font-family: myFirstFont;
    src: url(Nimbus-Sans-D-OT-Light_32752.ttf) format("truetype");
  }
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

  :root {
    --dark: #000000;
    --light: #fafafa;
    --noise-opacity:.03;
    /* noise opacity changed in js depending on device */
}

::-webkit-scrollbar {
    display: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-gradient {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.bg-gradient::after {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000%;
  content: "";
  background: url(noise.gif);
  opacity: var(--noise-opacity);
}

#mobileBG {
  background-color: var(--dark); 
  position: fixed;
  opacity:.92; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  z-index: -1; 
}

#mobileFilter {
  background-color: var(--dark); 
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%; 
  z-index:0;
  opacity: .45;
}

.card{
  position: relative;
  padding: 3rem 5rem 3rem;
  height: 100vh;
  max-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--light);
}

.lg{
  font-size: 4rem;
}

@media (max-width : 900px) {
  .bg-gradient {
    width: 200vw;
  }
  .card {
    padding: 1.8rem 5vw 0rem;
  }
 


  .lg, .xl {
    font-size: 1.5rem;
  }

}
.info {
  margin-bottom: 8rem;
}

.line {
  opacity: 0;
  /* display: inline; */
  margin: 5px;
  padding: 0 5px 0;
  border-radius: 5px;
  -webkit-box-shadow: inset -3px 10px 22px 3px #909bdb26;
  -moz-box-shadow: inset -3px 10px 22px 3px #909bdb26;
  box-shadow: inset -3px 10px 22px 3px #909bdb26;
}
.socials {
  text-align:  right;
  height: fit-content;
}

.blink {

}

.work {
  position: relative;
  width: 100;
}
.lightmode > * {
  transform-origin: center;
  user-select:none;
}
.lightmode:active > .inner {
  transform: scale(.9);
  user-select:none;
}
.lightmode:active > .outer {
  transform: scale(.8);
  user-select:none;
}
  
.contacts{
  color: var(--light);
  position: fixed;
  font-family: 'Kanit', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  bottom:0rem; 
  left: 0px; 
  width: 100%;
  padding-top: 1rem; 
  border-top: 1px solid var(--light);
}
.contacts > div {
  grid-column: 1/1;
  position: relative;
  margin: 0rem 1rem 1rem;
  cursor: pointer;
  width: fit-content;
}

.contacts > div > span, .contacts > footer > span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: .5rem;
  height:1px;
  background: var(--light);
  overflow: hidden;
}
.contacts > div:hover > span, .contacts > footer:hover > span {
  width: 100%;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor:pointer;
}
.contacts > footer {
  grid-area: 3/2/3/2;
  position: relative;
  justify-self: end;
  align-self:center;
  margin: 0rem 1rem 1rem;
  width: fit-content;
}
.contacts > footer::selection{
  background: #26b0fa00;
} 

.f-1 {
  font-family: 'myFirstFont';
  /* word-spacing: .2rem; */
  line-height: 1.4rem;
  letter-spacing: .05em;
  font-weight: 100;
  word-spacing: .27em;
  -webkit-user-select: none;     
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.f-1-b {
  font-family: 'myFirstFontB';
  /* word-spacing: .2rem; */
  line-height: 1.4rem;
  letter-spacing: .05em;
  font-weight: 100;
  word-spacing: .27em;
  -webkit-user-select: none;     
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 

.f-2 {
  font-family: 'Baskervville', serif;
  -webkit-user-select: none;     
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 100;
}
.f-2-i {
  font-family: 'Baskervville', serif;
  font-style: italic;
  font-weight: 100;
  -webkit-user-select: none;     
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.f-3 {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-user-select: none; 
  font-weight: 100;    
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sm {
  font-size: .8rem;
}
.med{
  font-size: 1.2rem;
}
.xl{
  font-size: 6rem;
}

/* utils */
.middle {
  display: inline; 
  margin:0 auto 0;
}
.pre {
  white-space: pre;
}

.CAPS {
  text-transform: uppercase;
}

.lower-case {
  text-transform: none;
}

.test {
  color: #ffb881;
}


/* animations */
.expand-text-hover:hover {
  width: fit-content;
  letter-spacing: 3px;
  word-spacing: 5px;
  transition: all 1s ease, word-spacing .3s ease;
}

.line-anim {
  opacity: 1;
}

.hero {
  display: inline-block;
  color: #fff;
  z-index: 2;

  /* Bright things in dark environments usually cast that light, giving off a glow */
  filter: drop-shadow(0 1px 3px);
}

.demo {
  height: 100px;
  background: #fff;
}

.layers {
  position: relative;
}

.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
}

.layers::before {
  top: 10px;
  left: 15px;
  color: #e0287d;
}

.layers::after {
  top: 5px;
  left: -10px;
  color: #1bc7fb;
}

.single-path {
  clip-path: polygon(
    0% 12%,
    53% 12%,
    53% 26%,
    25% 26%,
    25% 86%,
    31% 86%,
    31% 0%,
    53% 0%,
    53% 84%,
    92% 84%,
    92% 82%,
    70% 82%,
    70% 29%,
    78% 29%,
    78% 65%,
    69% 65%,
    69% 66%,
    77% 66%,
    77% 45%,
    85% 45%,
    85% 26%,
    97% 26%,
    97% 28%,
    84% 28%,
    84% 34%,
    54% 34%,
    54% 89%,
    30% 89%,
    30% 58%,
    83% 58%,
    83% 5%,
    68% 5%,
    68% 36%,
    62% 36%,
    62% 1%,
    12% 1%,
    12% 34%,
    60% 34%,
    60% 57%,
    98% 57%,
    98% 83%,
    1% 83%,
    1% 53%,
    91% 53%,
    91% 84%,
    8% 84%,
    8% 83%,
    4% 83%
  );
}

.paths {
  animation: paths 5s step-end infinite;
}

@keyframes paths {
  0% {
    clip-path: polygon(
      0% 43%,
      83% 43%,
      83% 22%,
      23% 22%,
      23% 24%,
      91% 24%,
      91% 26%,
      18% 26%,
      18% 83%,
      29% 83%,
      29% 17%,
      41% 17%,
      41% 39%,
      18% 39%,
      18% 82%,
      54% 82%,
      54% 88%,
      19% 88%,
      19% 4%,
      39% 4%,
      39% 14%,
      76% 14%,
      76% 52%,
      23% 52%,
      23% 35%,
      19% 35%,
      19% 8%,
      36% 8%,
      36% 31%,
      73% 31%,
      73% 16%,
      1% 16%,
      1% 56%,
      50% 56%,
      50% 8%
    );
  }

  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      94% 70%,
      88% 70%,
      88% 32%,
      18% 32%,
      18% 96%,
      10% 96%,
      10% 62%,
      9% 62%,
      9% 84%,
      68% 84%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }

  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      17% 88%,
      17% 54%,
      81% 54%,
      81% 75%,
      79% 75%,
      79% 76%,
      38% 76%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }

  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      33% 85%,
      16% 85%,
      16% 19%,
      5% 19%,
      5% 20%,
      79% 20%,
      79% 96%,
      93% 96%,
      93% 50%,
      5% 50%,
      5% 74%,
      55% 74%,
      55% 57%,
      96% 57%,
      96% 59%,
      87% 59%,
      87% 65%,
      82% 65%,
      82% 39%,
      63% 39%,
      63% 92%,
      4% 92%,
      4% 36%,
      24% 36%,
      24% 70%,
      1% 70%,
      1% 43%,
      15% 43%,
      15% 28%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }

  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      4% 61%,
      17% 61%,
      17% 12%,
      26% 12%,
      26% 63%,
      73% 63%,
      73% 43%,
      90% 43%,
      90% 67%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }

  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      10% 13%,
      89% 13%,
      89% 6%,
      3% 6%,
      3% 8%,
      16% 8%,
      16% 79%,
      0% 79%,
      0% 99%,
      92% 99%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}

.movement {
  /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
  position: relative;
  animation: movement 8s step-end infinite;
}

@keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }

  15% {
    top: 10px;
    left: 10px;
  }

  60% {
    top: 5px;
    left: -10px;
  }

  75% {
    top: -5px;
    left: 20px;
  }

  100% {
    top: 10px;
    left: 5px;
  }
}

.opacity {
  animation: opacity 5s step-end infinite;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }

  5% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.6;
  }

  76% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}

.font {
  animation: font 7s step-end infinite;
}

@keyframes font {
  0% {
    font-weight: 100;
    color: #e0287d;
    filter: blur(3px);
  }

  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }

  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }

  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }

  90% {
    font-weight: 500;
    color: #e0287d;
    filter: blur(6px);
  }
}

.glitch span {
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 7s step-end infinite, movement 8s step-end infinite;
}
